@CHARSET "UTF-8";

#corpo {
	width: 100%;
}

.btn {
	cursor: pointer;
	padding: 6px;
}

.btn:active {
	background-color: green;
}

#painel_esquerdo {

	border: 0px dotted #cccccc;
	
	float:left;
	width: 50%;
	height: 400px;

}

#pe_esquerdo {
	border: 0px dotted #cccccc;
	text-align: right;
	float:left;
	width: 33%;
	height: 100%;
}

#pe_centro {
	border: 0px dotted #cccccc;
	height: 100%;
	text-align: center;
	float: left;
	width: 32%;
	height: 100%;
}

#grau_giro {
	width: 100px;
	margin-top: 30px;
	font-size: 14pt;

}

#pe_direito {
	border: 0px dotted #cccccc;
	
	text-align: left;
		float:right;
	width: 33%;
	height: 100%;
}


/*   ---------------------------  */

#painel_direito {
	
	border: 0px dotted #cccccc;
	
	float:right;
	width: 49%;
	height: 400px;

}

#pd_cima {
	border: 0px dotted #cccccc;
	
	height: 33%;
	text-align: center;
	height: 33%;
}

#pd_centro {
	border: 0px dotted #cccccc;
	
	text-align: center;
	width: 100%;
	height: 30%;
}

#quanto_andar {
	width: 100px;
	margin-top: 30px;
	height: 33%;
		font-size: 14pt;
	
}

#pd_baixo {
	border: 0px dotted #cccccc;

	text-align: center;
	height: 33%;
}
